@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.content p a{
    text-decoration: none;
}

.content p{
    text-align: justify;
}

ul li a{
    text-decoration: none;
}

h2{
    text-align: center;
    margin: 2.5rem 0 1rem !important;
}

.subtitulo{
    text-align: center;
    font-weight: 500;
}

div .col-lg-4 img{
    height: 350px;
    width: auto;
}

.barra{
    margin: 1.5rem;
}