@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
    align-items: center;
    background-color: rgb(238, 18, 41);
    height: 130px;
    padding: 0 20px; /* Añade espacio interno para separar la imagen y la lista */
}

header nav a img{
    width: 80px;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 15px;
    font-size: 20px;
    transition: ease 0.5s;
}

header nav ul li a:hover{
    color: rgb(0, 0, 0);
}
