@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#titulo{
    margin: 3rem 0 3rem 0;
    text-align: center;
}

.imagenes{
    background-color: rgb(240, 240, 240);
    width: 70%;
    padding: 2rem;
    float: left;
}
.con-img{
    width: 20%;
    margin: 5px 0 25px 0;
}

.con-img img{
    width: 100%;
    box-shadow: 2px 2px 8px grey;
    border-radius: 10px;
    transition: ease 0.5s;
}

.con-img img:hover{
    transform: translateY(-5px);
    box-shadow: 6px 6px 10px grey;
}


aside{
    background-color: rgb(255, 255, 255);
    padding: 0 30px;
    line-height: 3.5rem;
    width: 30%;
    float: right;
    border: solid 60px rgb(240, 240, 240);
    height: auto;
}

iframe{
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 30px 33% 30px 33%;
}
